* {
  background-color: #cfd0d1;
}
#wrapper {
  text-align: center;
}
#search-wrapper {
  display: flex;
  justify-content: center;
}
#search {
  width: 500px;
  height: 24px;
  background-color: white;
}
#search-button {
  height: 30px;
  padding: 0px 15px;
  background-color: #5e97f2;
}