@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  font-family: 'Raleway', sans-serif;
}
#wrapper {
  text-align: center;
  background-image: url('books.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 4em;
  margin-top: 0px;
  padding-top: 10px;
}
#search-wrapper {
  display: flex;
  justify-content: center;
}
#search {
  width: 500px;
  height: 24px;
}
#search:hover {
  border-color: #5e97f2;
}
#search-button {
  height: 30px;
  padding: 0px 15px;
  background-color: #5e97f2;
  text-decoration: none;
  font-weight: 600;
}
#search-button:hover {
  background-color: white;
  border: 3px solid #5e97f2;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 800;
}
.books-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px; 
}
.bookCard {
  width: 300px;
  margin: 10px 30px;
  padding: 5px 0px 15px 5px;
  border-radius: 5%;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  background-color: white;
}
.image {
  background-color: white;
  align-self: center;
  width: 128px;
  height: 180px;
}
.title {
  background-color: white;
  align-self: flex-start;
  margin: 2px;
  text-align: left;
}
.author {
  background-color: white;
  align-self: flex-start;
  text-align: left;
  margin: 2px;
}
.publisher {
  margin: 2px;
  background-color: white;
  align-self: flex-start;
  padding-bottom: 5px;
  text-align: left;
}
.info {
  align-self: center;
  text-decoration: none;
  width: 125px;
  padding: 5px;
  background-color: #8399a9;
  color: black;
  margin-top: auto;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.error-wrapper {
  padding-top: 20px;
  color: #a90404;
  height: 75vh;
}
.noResults-wrapper {
  padding-top: 20px;
  height: 75vh;
}

@media only screen and (max-width: 630px){
  #search {
    width: 300px;
  }
}